.header {
  padding: 45px 0 40px;
  border-bottom: 1px solid #545454;
  max-width: 880px;
  margin: 0 auto 40px;
}

@media screen and (max-width: 999px) {
  .header {
    padding-top: 28px;
    padding-bottom: 31px;
  }
}
