.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin: 0;
  max-width: 293px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 999px) {
  .profile__name {
    margin-left: 26px;
  }
}

@media screen and (max-width: 665px) {
  .profile__name {
    max-width: 189px;
    font-size: 27px;
    line-height: 1.22;
  }
}
