.profile__edit-btn {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #fff;
  background: url(../../../images/profile/edit.svg) center no-repeat;
  background-size: 10px 10px;
  cursor: pointer;
  transition: all .1s ease-in;
}

.profile__edit-btn:hover {
  opacity: .6;
}
