@import url(../vendor/normalize.css);

@import url(../vendor/fonts/Inter/inter.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/main/main.css);

@import url(../blocks/button/button.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__add-btn/profile__add-btn.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__edit-btn/profile__edit-btn.css);

@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__list/gallery__list.css);
@import url(../blocks/gallery/__element/gallery__element.css);
@import url(../blocks/gallery/__image/gallery__image.css);
@import url(../blocks/gallery/__image-description/gallery__image-description.css);
@import url(../blocks/gallery/__image-title/gallery__image-title.css);
@import url(../blocks/gallery/__image-like-btn/gallery__image-like-btn.css);
@import url(../blocks/gallery/__image-like-btn/_active/gallery__image-like-btn_active.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-btn/popup__close-btn.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__form-item/popup__form-item.css);
@import url(../blocks/popup/__save-btn/popup__save-btn.css);
@import url(../blocks/popup/_opened/popup_opened.css);
