.profile__info {
  display: flex;
  max-width: 336px;
  flex-wrap: wrap;
  column-gap: 19px;
  row-gap: 6px;
  align-items: center;
}

@media screen and (max-width: 999px) {
  .profile__info {
    max-width: 500px;
    justify-content: center;
    column-gap: 10px;
    row-gap: 8px;
  }
}

@media screen and (max-width: 665px) {
  .profile__info {
    max-width: 336px;
  }
}

